<!DOCTYPE html>
{% load static %}
<html>
    <head>
        
        <meta name ="viewpoint" content="width=device-width, initial-scale=1.0">
        <title> Figure feed </title>
        <!-- <link href="/food/css/log.css" rel="stylesheet" type="text/css"/> -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="mina">
                <h1>Let the people know Your </h1>
                <h2>Taste</h2>

                <form action="" class = "lost">
                    <input type="text" placeholder = "Location" name = "hell">
                    <button type="submit"  ><img src="{% static 'Img/search.png' %}"> </button>
                    
                </form>
            </div>

            <div class ="imgBox">
                <img src ="{% static 'Img/food3c.png' %}">
            </div>
        </div>
        
    </body>
</html>
